.myStudents{
    position: absolute;
    top: 20px;
    background: white;
    border-radius: 20px;
    box-shadow:  -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
}

.myStudents h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 40px;
    margin-bottom: 15px;
}