.myStudents {
    box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
    background: white;
    border-radius: 20px;
    margin-right: 36px;
    margin-top: 20px;
}

.heading {
    margin-top: 21px;
}
