.myStudents {
    box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04), 1px 1px 20px 1px rgba(0, 0, 0, 0.04);
    background: white;
    border-radius: 20px;
    margin-right: 36px;
    margin-top: 20px;
    margin-left: 36px;
    height: 258px;
}

.Heading {
    padding-top: 21px;
    padding-left: 30px;
}
.Buttons {
    padding-left: 30px;
    padding-top: 19px;
}
.Buttons2 {
    padding-left: 30px;
    margin-top: 24px;
    display: inline;
    float: left;
}

.addgroup{
    padding-top: 14px;
}

.item {
    display: inline;
    float: left;
    margin-top: 24px;
    margin-left: 22px;
    height: 105px
}

.Lenta {
    display: inline;
    float: left;
}